vendor

rlp/local_dev.sh
rlp/certs
!rlp/certs/.gitkeep

gateway/local_dev.sh
gateway/main
gateway/manifest.yml

rlp/local_dev.sh
rlp/main
rlp/manifest.yml

gateway-tile/product/
gateway-tile/release/
gateway-tile/resources/nozzle.zip

rlp-tile/product/
rlp-tile/release/
rlp-tile/resources/nozzle.zip
